<!DOCTYPE html>
<html>

<head>
  <title>DK GAS | Metering</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/2.1.2/go.js"></script>

  <link rel="stylesheet" href="/fontend/style/style.css">
  <link rel="stylesheet" href="/fontend/style/lgds_metering.css">
  <style type="text/css">
  	td{
  		padding: 4px !important;
  		font-size: 20px !important;
  	}
  </style>
</head>

<body>
  <div id="wrapper" class="container-fluid">
    <div id="title">
      <%= station.name %> DATA INFORMATION
      <input hidden="" type="text" name="" id="station_obj_id" value="<%= station.id %>">
      <input hidden="" type="text" name="" id="station_name" value="<%= station.name %>">
    </div>

    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      	<span  style="float: right; color: white; float: right;"><span class="label label-success" id="notify"></span></span>
        <div id="table_left">
          <table class="table">
            <thead>
              <tr>
              	<th class="center" style="width: 10%">No.</th>
                <th class="center" style="width: 25%">TOTAL</th>
                <th class="center" style="width: 15%">FC-01</th>
                <th class="center" style="width: 15%">FC-02</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody id="data_info">
            	<script type="text/javascript">
						    	var i = 1;
						    </script>
						    <% station_paras.forEach(function(station_para) { %>
						    	<tr>
							    	<td class="center">
							    		<script type="text/javascript">
									    	document.write(i);
									    	i = i + 1;
									    </script>
									</td>
									<td id="<%= station_para.parameter.code %>"> <%= station_para.parameter.name %> </td>
									<td class="center" id="<%= station.name %>_<%= station_para.maptag %>"></td>
									<td class="center" ></td>
									<td class="<%= station.name %>_timestamp"></td>
									<!-- <td> <%= station.information %> </td> -->
									<!-- <td> <%= station.note %> </td>
									<td class="text-center">
										<a class='btn btn-info btn-xs' href="/admin/station/edit/<%= station.id %>">
											<span class="glyphicon glyphicon-edit"></span>Edit</a>
										<a href="/admin/station/delete/<%= station.id %>" class="btn btn-danger btn-xs">
											<span class="glyphicon glyphicon-remove"></span>Del</a>
									</td> -->
								</tr>	
						    <% }); %>

						  </tbody>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
        <div id="table_right">
          <table class="table">
            <thead>
              <tr>
                <th>FC-ALARM</th>
                <th>FC-0111</th>
                <th>FC-0112</th>
              </tr>
            </thead>
            <tbody id="alarm_info">
            </tbody>
          </table>
        </div>
      </div> -->
      
    </div>

    <!-- Footer -->
    <% include layout/footer %>
  </div>


  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

  
  <script type="text/javascript">
		var station_name = $('#station_name').val();
		var station_obj_id = $('#station_obj_id').val();
		
		console.log(`Welcome to ` + station_name + ' station')
	</script>
	<script type="text/javascript">
		var parameters;
	</script>
	<script type="text/javascript">
	  $.ajax({
	    url: '/api/parameter',
	    method: 'post',
	    data: {"station_id": station_obj_id}
	    }).done(function(res) {
	      if (true) {
	        console.log(res);
	        parameters = res;
	      } else {
	          console.log('error...ajax');
	      }
	  });
	</script>

	<script type="text/javascript">
	  var socket = io("http://127.0.0.1:3710");
	  // var socket = io("http://124.158.10.133:3710");
	  socket.on("data_info", function(data){
	  	document.getElementById("notify").innerHTML = "Connected to server";
	    console.log(data);
	    console.log("data.station = " + data.station + ", station_name = " + station_name)
	    if (station_name == data.station) {
	    	parameters.forEach( function(parameter){
	    		//console.log(data.value.find( tag => tag.name === parameter.maptag))
	    		if(data.value.find( tag => tag.name === parameter.maptag)){
	    			console.log("hihi")
	    			document.getElementById(station_name + "_" + parameter.maptag).innerHTML = data.value.find( tag => tag.name === parameter.maptag).value;
	    		}
	    	})

	    	var date = new Date(data.timestamp);
				console.log(date.toString() )
	    	var items = document.getElementsByClassName(station_name+"_timestamp"), i, len;
				// loop through all elements having class name ".my-class"
				for (i = 0, len = items.length; i < len; i++) {
				    items[i].innerHTML = date.toLocaleString();
				}

				// "Wed Jun 29 2011 09:52:48 GMT-0700 (PDT)"

	    }

	  //   var person = {firstName:"John", lastName:"Doe", age:46};
			// console.log(person["firstName"]);
	    // parameters.forEach( function(parameter){
	    // 	if (station_id == data.station) {


	    // 	}
	    // 		console.log("haha--")
	    // })
	    
	  })
	 //  socket.on('error', function (err) {
	 //    console.log("Không có kết nối đến Server");
		// });

	 //  socket.on("connect_failed", function() {
	 //  	console.log("Không có kết nối đến Server connect failed");
	 //  })

	  socket.io.on("connect_error", function(err) {
	  	console.log("Không có kết nối đến Server " + err)
	  	document.getElementById("notify").innerHTML = "Không có kết nối đến Broker Server";

	  })

	</script>

</body>

</html>