<% layout('../layout/index') %>

<div class="panel-heading">
	Station <%= station.name %> - <%= station.description %>
	<span style="float: right;"><a href="/admin/station-para/list">Home</a></span>
</div>
<div class="panel-body">

<% if(typeof errors != "undefined"){%>
<% errors.forEach(function(err){ %>
  <div class="alert alert-danger">
      <%= err %> 
  </div>
<% }) %>
<% } %>


<form method="post" action="/admin/station-para/<%= station._id %>/add">
  <div class="form-row">
    <div class="col-md-2 mb-3">
      <label>Station</label>
      <input type="text" class="form-control" name="station" placeholder="Station..."
        value="<%= station.name %>" readonly >
    </div>
    <div class="col-md-2 mb-3">
      <label>Station</label>
      <select class="form-control" name="station_id">
          <option value="<%= station._id %>" selected><%= station.name %></option>
      </select>
    </div>

    <div class="col-md-4 mb-3">
      <label>Parameter</label>
      <select class="form-control" name="parameter_id" readonly>
        <% parameters.forEach(function(para) { %>
          <% if ( !station_paras.find( ({ parameter }) => parameter.toString() === para._id.toString()  ) || 0) { %>
            <option value="<%= para._id %>"><%= para.code %> - <%= para.name %></option>
          <%}%>
        <% }); %>
      </select>
    </div>
    <div class="col-md-4 mb-3 col-sm-6">
      <label>Map Tag</label>
      <input type="text" class="form-control" name="maptag" placeholder="Map Tag..."
        value="" required>
    </div>

    <div class="col-md-4 mb-3 col-sm-6">
      <label>Priority</label>
      <input type="text" class="form-control" name="priority" placeholder="Priority..."
        value="99" >
    </div>
    <div class="col-md-4 mb-3 col-sm-6">
      <label>Active</label>
      <input type="text" class="form-control" name="active" placeholder="Active..."
        value="1">
    </div>
    <div class="col-md-4 mb-3 col-sm-6">
      <label>Note</label>
      <input type="text" class="form-control" name="note" placeholder="Note..."
        value="" >
    </div>
   </div>
    
  <div class="form-row">
  	<div class="col-md-12 mb-3 col-sm-6">
  	<br>
      <button class="btn btn-success" type="submit">Submit </button>
    </div>
  </div>
 
</form>
</div>

