<% layout('../layout/index') %>
<% block('css', `
	
  <!-- DataTables -->
  <link rel="stylesheet" href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">

`) %>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Station Parameter
    <small>All</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Station</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
	<div class="panel-heading">
		Stations
		<span style="float: right;"><a href="/admin/parameter/add">Add new station</a></span>
	</div>
	<div class="row">
	  <div class="col-xs-12">
	    <div class="box">
	      <div class="box-header">
	        <h3 class="box-title">All Station</h3>
	      </div>
	      <!-- /.box-header -->
	      <div class="box-body">
	        	<table id="table1" class="table table-bordered table-striped">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Name</th>
						      <th scope="col">Description</th>
						      <th scope="col">Addr</th>
						      <th scope="col">Infos</th>
						      <th scope="col">Note</th>
						      <th scope="col">Action</th>
						    </tr>
						  </thead>
						  <tbody>
						    <script type="text/javascript">
						    	var i = 1;
						    </script>
						    <% stations.forEach(function(parameter) { %>
						    	<tr>
							    	<td>
							    		<script type="text/javascript">
									    	document.write(i);
									    	i = i + 1;
									    </script>
									</td>
									<td id="<%= parameter.code %>"> <%= parameter.name %> </td>
									<td id="KCC_tag1"> <%= parameter.description %> </td>
									<td> <%= parameter.address %> </td>
									<td> <%= parameter.information %> </td>
									<td> <%= parameter.note %> </td>
									<td class="text-center">
										<a class='btn btn-info btn-xs' href="/admin/station-para/<%= parameter.id %>">
											<span class="glyphicon glyphicon-eye-open"></span>View</a>
										<a class='btn btn-info btn-xs' href="/admin/parameter/edit/<%= parameter.id %>">
											<span class="glyphicon glyphicon-edit"></span>Edit</a>

										<% if(user.role >= 4){ %>
											<a href="/admin/parameter/delete/<%= parameter.id %>" class="btn btn-danger btn-xs">
											<span class="glyphicon glyphicon-remove"></span>Del</a>
										<% } %>
									</td>
								</tr>	
						    <% }); %>

						  </tbody>

						  

						</table>
	      </div>
	      <!-- /.box-body -->
	    </div>
	    <!-- /.box -->
	  </div>
	  <!-- /.col -->
	</div>

</section>



<% block('script', `




`) -%>

<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

<script type="text/javascript">
	var station_id = $('#station_id').text();
	console.log(`Welcome to ` + station_id + ' station')
</script>
<script type="text/javascript">
  var socket = io("http://localhost:3710");
  // var socket = io("http://124.158.10.133:3710");
  socket.on("data_info", function(data){
    console.log(data);
    // if (station_id == data.station) {
    // 	document.getElementById(station_id + "_tag1").innerHTML = data.value.tag1;
    // }
    
  })
</script>